


nz-sider {
  background: #e4572c;
  color: #fff;
  
}
  


nz-menu-item{
  margin-bottom: 30px;
  
}


  nz-header {
    background: #fff;
    padding: 0;
    height: 110px;
    padding: 10px 0;
    
    //position: relative;
  
  }
  nz-card{
    max-width:90px;
    max-height: 90px;
    border-radius: 10px;
    position: relative;
    
  }

  #imgflit{
    
    max-width:50px;
    max-height : 50px;
    margin: 6px 6px 6px 6px;
     position: relative;
    // display: block;
  }

  nz-content {
     margin: 0 16px;
     line-height:70px;
    
  }

  #mapid{
    height: 610px;
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
}


  nz-footer {
    text-align: center;
    height: 5px;
    position: relative;
  }

  

  .logoImg{
    height: 100px;
    width: 100px;
    margin: 100px 100px 50px 100px;
  }
   h2{
     text-align: center;
   }
   .reglage{
      margin-top: 10px;
      margin-bottom: 10px;
   }

  .flex-box{
    flex-grow: 1;
    text-align: center;
    padding: 0 10px;
  }

  img{
    margin-left: -12px;
    margin-top: -12px;
  }

  .cardClass{
    border: 2px solid green;
    border-radius: 10px;
  }

  .icons{
    font-size: 2em; 
    color: white;
  }

  .menu-item-text{
    font-size: 20px;
  }
  .colorAnt{
    color:orangered;
  }
  .form{
    padding-top :60px ;
  }
  nz-select {
    margin-right: 8px;
    width: 100px;
  }
  [nz-form] {
     max-width: 400px;
   }
  #im {
     height: 30px;
     width: 30px;
   }
   .stylButton{
    background-color: rgb(221, 88, 39);
    color: white;
   }