.logo {
    height: 100px;
    margin: 10px;
}

.logoImg{
  height: 100px;
  width: 100px;
 margin: 40px;
}

nz-sider {
  background: #e03039;
  color: #fff;
  //min-height: 60px;
  flex-basis: 300px;
   max-width: 300px;
   min-width: 200px;
   width: 300px;
}
  


nz-menu-item{
  margin-bottom: 30px;
  
}


  nz-header {
    background: #fff;
    padding: 0;
    height: 110px;
    padding: 10px 0;
    position: relative;
  }

  nz-content {
     margin: 0 16px;
     line-height:70px;
    
  }

  #mapid{
    height: 570px;
    width: 100%;
    margin-top: 20px;
}

  nz-breadcrumb {
    margin: 16px 5px;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
  }



  nz-footer {
    text-align: center;
    height: 5px;
    position: relative;
  }

  nz-card{
    width:80px;
    height: 80px;
    margin-left: 10px;
    border-radius: 10px;
  }

  


  .flex-box{
    flex-grow: 1;
    text-align: center;
    padding: 0 10px;
  }

  img{
    margin-left: -12px;
    margin-top: -12px;
  }

  .cardClass{
    border: 2px solid green;
    border-radius: 10px;
  }

  .icons{
    font-size: 2em; 
    color: white;
  }

  .menu-item-text{
    font-size: 20px;
  }
  .colorAnt{
    color:orangered;
  }
  .form{
    padding-top :60px ;
  }
  nz-select {
    margin-right: 8px;
    width: 100px;
  }
  #im {
     height: 30px;
     width: 30px;
   }