<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="300px">
      <div class="logo">
        <img class="logoImg" src="../../assets/LogoVyBlanc_fondTransparent.png" width="80" height="80">
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item >
            <i nz-icon nzType="api" nzTheme="outline" class="icons"></i>
            <span class="menu-item-text">Développeurs</span>
        </li>
        <li nz-menu-item>
            <i nz-icon nzType="user-add" nzTheme="outline" class="icons"></i>
            <span class="menu-item-text">Devenir contributeur</span>
        </li>
        <li nz-menu-item>
            <i nz-icon nzType="info" nzTheme="outline" class="icons"></i>
            <span class="menu-item-text">A propos de nous</span>
        </li>
        <li nz-menu-item>
            <i nz-icon nzType="phone" nzTheme="outline" class="icons"></i>
            <span class="menu-item-text">Contacts</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div style="display: flex; padding: 0 10px;">
            <nz-card *ngFor="let item of filterItems" [ngClass]="{'cardClass': item.isSelected}"
             (click)='selectFilterItem(item.id)'>
                <img [src]="item.image" width="50" height="50">
            </nz-card>
        </div>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content" id="mapid">    
        </div>
      </nz-content>
      <nz-footer>
        <p>fes-tourisme by Vyconsulting - 2020</p>
      </nz-footer>
    </nz-layout>
  </nz-layout>

  