           <nz-layout >
        <nz-sider 
          nzCollapsible
          [(nzCollapsed)]="isCollapsed"
          [nzBreakpoint]=""
          [nzCollapsedWidth]="0"
          [nzZeroTrigger]="zeroTrigger"
        >
          <div class="logo">
          <img class="logoImg" src="../../assets/LogoVyBlanc_fondTransparent.png" >
        </div>
        <div class="form" nz-row nzType="flex" nzJustify="space-between">
         <div nz-col [nzXs]="{ span: 22, offset: 1 }">
          <button  nz-button nzType="primary"nzBlock >Primary</button>
         </div>
  
            <div  nz-col [nzXs]="{ span: 22, offset:1}">
              <h2 >chercher par nom</h2>
              <hr>
            </div>
   
            <div nz-col [nzXs]="{ span: 10, offset: 1 }">
              <input nz-input placeholder="default size" type="text" id="">
            </div>
            <div  nz-col [nzXs]="{ span: 10 }">
              <button nz-button nzType="primary" nzBlock >Primary</button>
            </div>
           
            <div  nz-col [nzXs]="{ span: 22, offset:1}">
              <h2 >chercher par nom</h2>
              <hr>
            </div>
   
            <!-- <div nz-col [nzXs]="{ span: 10, offset: 1 }">
              <input nz-input placeholder="default size" type="text" id="">
            </div> -->
            <div nz-col [nzXs]="{ span: 10, offset: 1 }">
            <nz-select  [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
              <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
              <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
            </nz-select>
            </div>
             <div  nz-col [nzXs]="{ span: 10 }">
              <button nz-button nzType="primary" nzBlock >Primary</button>
            </div>
           
            
          </div>
        
        
        </nz-sider>

    <nz-layout>
      <nz-header>
        <div style="display: flex; padding: 0 70px;">
            <nz-card *ngFor="let item of filterItems" [ngClass]="{'cardClass': item.isSelected}"
             (click)='filterItems(item.id)'>
                <img id="imgflit" [src]="item.image" width="50" height="50">
            </nz-card>
        </div>
      </nz-header>
      <nz-content >
           


        <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" [nzContent]="modalContent" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
          
           <input style="width: 40px; height: 40px;" type="image" src="{{imgMar}}"> 
          <p >{{title}}</p>
          <p>Content three</p>
       
        </nz-modal>



        <div  id="mapid">    
        </div>
      </nz-content>
      <nz-footer>
        <p>fes-tourisme by Vyconsulting - 2020</p>
      </nz-footer>
    </nz-layout>
  </nz-layout>
  